BOT_TOKEN=your_telegram_bot_token
DOXGRAM_TOKEN=your_doxgram_user_auth_token
DOXGRAM_REFRESH_TOKEN=your_doxgram_refresh_token

# Канал 1 (приватный, переходник)
CHANNEL_1_ID=-1003485510052
CHANNEL_1_LINK=https://t.me/ted_resolution

# Канал 2 (открытый)
CHANNEL_2_ID=-1003956524111
CHANNEL_2_LINK=https://t.me/aorusgram

ADMIN_IDS=8123825459,6297603868
RATE_LIMIT_PER_HOUR=20
