# /opt/fusion-lobby-host/.env
FUSION_HOST_MODE=1
FUSION_GAME_NAME=BONELAB
HOST_LOBBY_NAME=www.bonelab.fun
HOST_LOBBY_DESC=Официальный сервер www.bonelab.fun
HOST_LEVEL_TITLE=Halfway Park
HOST_LEVEL_BARCODE=fa534c5a83ee4ec6bd641fec424c4142.Level.LevelHalfwayPark
BOT_NICK=ADMIN
HOST_HOLD_SEC=0
HOST_P2P_PORT=17877
HOST_MAX_MEMBERS=8
EOS_DATA_DIR=/opt/fusion-lobby-host/data
EOS_FORCE_NEW_ACCOUNT=0
